

#First-icon{

    display: inline-flex;
    float: left;
    float: inline-start;
    margin-left: 40PX  ;
    margin-top: 10PX;



}




h1{

    text-align: RIGHT;
    margin-top: 50PX;
    margin-bottom: 50PX;
    padding: 30PX;
    Padding-left: 100PX;
    background-color: none;
    box-shadow:  #22b4ac 5PX 5PX 5PX 5PX;
    border-radius: 10PX;
    border: 5PX solid #22b4ac;
    Color: #cddcdc;

}

.section{

    width: 780PX;
    height: 900PX ;
    background-color: WHITE;
   
    margin-bottom: 30PX;
    box-shadow:  #279691 5PX 5PX 5PX 5PX;
    margin-right: 90PX;
     float: inline-end;
    float: right;


    

   
}



.mid-section{
  
    width: 200PX;
    height: 509PX ;
    color: bisque;
    box-shadow: grey 5PX  5PX;
    font-size: 25PX;
    padding-top: 100PX;
    margin-top: 50PX;
    background-color:#78ceca;
    gap: 90PX;
    

                float: inline-start;







}



#link-D{
   
    color: rgb(11, 103, 120);
    text-align: center;
  

}






.img-A{


    width: 70PX ;
    height: 70PX ;
    border: black solid 3PX;
    border-radius: 50%;
    float: left;
    display: inline-flex;
    margin-left: 40PX;
    margin-top: 40PX;

}


.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 120px;
  width: 70px;
  height: 100px;
}

#box {

  width: 100px;
  height: 150px;
  padding: 50px;
  border: 1px solid #17c1b8;
  border-radius: 10px;
  
  background-color: white;
  text-align: center;
}

.box p {
  font-size: 16px;
}

.box h3 {
  font-size: 24px;
  margin-top: 10px;
}


#link-K{
  border-radius: 10px;
  background-color: white;
  text-align: right;
  inline-size: 1000px;
  color: rgb(79, 171, 192);
  Font-size: 40PX;
}


.Title{
  border-radius: 10px;
  background-color: rgb(79, 171, 192);
  width: 50PX;
  height: 50PX;
  text-align: right;
  inline-size: 1000px;

}
