
.section{

    width: 700PX;
    height: 200PX ;
    background-color: WHITE;
    margin-left: 350PX;
    margin-right: 60PX;
    margin-top: 20PX;
    margin-bottom: 30PX;
    box-shadow:  #279691 5PX 5PX 5PX 5PX;
    float: right;
    float: inline-end;
    display: inline-flex;
    float: inline-start;
    margin-top: none;


   
}



.mid-section{
  
    width: 200PX;
    height: 509PX ;
    color: bisque;
    box-shadow: grey 5PX  5PX;
    font-size: 25PX;
    padding-top: 100PX;
    margin-top: 50PX;
    background-color:#78ceca;
    gap: 90PX;
    float: left;
    float: inline-start;




}



#link-D{
   
    color: rgb(11, 103, 120);
    text-align: center;
  

}



.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.box {
  padding: 20px;
  border: 1px solid #17c1b8;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}


h1{
   
    color: rgb(11, 103, 120);
    text-align: Left;
    Font-size: 30PX;
    TEXT-DECORATION: UNDERLINE;
    GAP: 20PX;
    PADDING-LEFT: 60PX;
    padding-top: 20PX;
  

}
